<!DOCTYPE html>
<html lang="en">
<head>
<title>SU inder</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{{base_url}}/static/css/bootstrap.css" rel="stylesheet">
<link href="{{base_url}}/static/css/style.css" rel="stylesheet">
<link href="{{base_url}}/static/font/css/fontello.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> <a class="brand" href="index.html"><img src="{{base_url}}/static/img/logo.png" alt=""></a>
      
      <div class="nav-collapse collapse"></div>
    </div>
  </div>
</div>
<div class="container profile">
  <div class="span3"> <img src="{{base_url}}/static/img/us.png" alt=""> </div>
  <div class="span5">
    <h1>You are done!</h1>
    <h3>We will send you an email with your matches at tuesday 14th at midnight. (Please check out in your spam folder)</h3>
    <h2>Made with love for GSP15. </h2>

    
</div>



<script src="{{base_url}}/static/js/jquery-1.10.1.min.js"></script>
<script src="{{base_url}}/static/js/bootstrap.min.js"></script>

</html>