<!DOCTYPE html>
<html lang="en">
<head>
<title>SU inder</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{{base_url}}/static/css/bootstrap.css" rel="stylesheet">
<link href="{{base_url}}/static/css/style.css" rel="stylesheet">
<link href="{{base_url}}/static/font/css/fontello.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">  <a class="brand" href="index.html"><img src="{{base_url}}/static/img/logo.png" alt=""></a>
        
        <div class="nav-collapse collapse"></div>
      </div>
    </div>
  </div>
  <div class="container profile">
    <div class="span3"> <img class="participant-pic" src="{{base_url}}/static/img/{{participant_photo}}" alt=""> </div>
    <div class="span5">
      <h1 class="particpant-name">{{participant.user.first_name}} {{participant.user.last_name}}</h1>
      <h3 class="particpant-origin">{{participant.country}}</h3>
      
      <h2>Challenge Interest</h2>
      <p> {{participant.challenge_interest}} </p>
    </div>

  </div>

  <div class="container profile content">
       
      <h2>Technology Interest</h2>
      <p> {{participant.tech_interest}} </p>
      
      <h2>Wishes Regarding Team</h2>
      <p> {{participant.team_wishes}} </p>
      
      <h2>Wishes Regarding Project</h2>
      <p> {{participant.project_wishes}} </p>
      
      <h2>Prior Experience/Skills</h2>
      <p> {{participant.experience}} </p>
      
      <h2>Plans after GSP</h2>
      <p> {{participant.after_gsp_plans}} </p>

  </div>

  <div class="selectors">
    <a class="valuation" data-value="0" href="javascript: void(0);">
      <div class="button-selection negative"> 
        <span>NO</span>
      </div>
    </a>
    <a class="valuation" data-value="1" href="javascript: void(0);">
      <div class="button-selection"> 
        <span>YES</span>
      </div>
    </a>
  </div>

  <script src="{{base_url}}/static/js/jquery-1.10.1.min.js"></script>
  <script src="{{base_url}}/static/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function()
    {
      var $selectors = $('.valuation');
      
      $selectors.click(function()
      {
        var value = 0;
        if($(this).attr('data-value') == "1")
        {
          console.log('true');
          value = 1;
        }

        var data = {
          'id': {{participant.user.id}},
          'val': value
        };

        $.post('', data, function(res, textStatus)
        {
          if(res == 'OK')
          {
            location.reload();
          }
        });
        return false;
      });
    });
  </script>
</body>
</html>