<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>SUinder</title>
    <link rel="stylesheet" href="{{base_url}}/static/css/reset.css">
    <link rel="stylesheet" href="{{base_url}}/static/css/style.css">
  </head>

  <body>
    <form>
      <div class="wrap">
      <div class="avatar">
        <img src="{{base_url}}/static/img/logo.png">
      </div>
      <input type="text" name="username" id="username" placeholder="username" required>
      <div class="bar">
        <i></i>
      </div>
      <input type="password" name="password" id="password" placeholder="password" required>
      <button id="submit">Sign in</button>
    </form>
	</div>
    
  <script src="{{base_url}}/static/js/jquery-1.11.3.js"></script> <!-- App scripts -->
  <script type="text/javascript">
    $(document).ready(function()
    {
      var $username = $('#username');
      var $password = $('#password');
      
      $('#submit').click(function()
      {
        var data = {
          'username': $username.val(),
          'password': $password.val()
        };

        $.post('#', data, function(data, textStatus)
        {
          if(data == 'OK')
          {
            location.href = '{{base_url}}';
          }
          else
          {
            alert('Please introduce a valid username and password.');
          }
        });
        return false;
      });
    });
  </script>
    
  </body>
</html>
