<html>
<body>
<p>
Hi! Welcome to SUinder: the group making tool for GSP15.
</p>
<p>
We will show you the profile (based on Habib's spreadsheet) of each participant and you have to choose YES if you want to work with him/her and NO if not.
</p>
<p>
<strong>We will send you an email with your matches at tuesday 14th at midnight.</strong>
</p>
<p>
Here you have your credentials:
</p>
<p>
username: {{username}}<br>
password: {{password}}
</p>
<p>
Go to: <a href="http://www.adolfovaldivieso.com/login/" target="_blank">adolfovaldivieso.com/login</a>
</p>
<p>
Pdt: Remember that friends are forever. Let's make this experience the best.
</p>
<p>
Hugs,
Adolfo V and Ana Karen Ramirez.
</p>
</body>
</html>