@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

body {
	background: #355267;
	font-family: "Lato" ;
}
.wrap {
	width:250px;
	height: auto;
	margin: auto;
	margin-top: 10%;
}
.avatar {
	width: 100%;
	margin: auto;

	border-radius: 100px;
	height: 100px;

	position: relative;
	bottom: -15px;
}
.avatar img {
	width: 100%;
	border-radius: 100px;

	border:0px;
	display: block;
}
.wrap input {
	border: none;
	background: #fff;
  font-family:Lato ;
  font-weight:700 ;
	display: block;
	height: 40px;
	outline: none;
	width: calc(100% - 24px) ;
	margin: auto;
	padding: 6px 12px 6px 12px;
}
.bar {
	width: 100%;
	height: 1px;
	background: #fff ;
}
.bar i {
	width: 95%;
	margin: auto;
	height: 1px ;
	display: block;
	background: #d1d1d1;
}
.wrap input[type="text"] {
	border-radius: 7px 7px 0px 0px ;
}
.wrap input[type="password"] {
	border-radius: 0px 0px 7px 7px ;
}
.forgot_link {
	color: #83afdf ;
	color: #83afdf;
	text-decoration: none;
	font-size: 11px;
	position: relative;
	left: 193px;
	top: -36px;
}
.wrap button {
	width: 100%;
	border-radius: 7px;
	background: #39D084;
	text-decoration: center;
	border: none;
	color: #51771a;
  margin-top:-5px;
	padding-top: 14px;
	padding-bottom: 14px;
	outline: none;
	font-size: 13px;	
	border-bottom: 3px solid #307d63;
	cursor: pointer;
}

img.participant-pic {
	border-radius: 50%;
  	width: 240px;
	margin-top: 15px;
}

.particpant-name, .particpant-origin {
	text-transform: uppercase;	
}

.button-selection span {
  position: relative;
  top: 35%;
}

.button-selection.negative {
  background-color: rgb(240, 73, 73);
}

.button-selection{
 	background-color: #39d084;
 	display: inline-block;
 	width: 49%;
 	margin: 0px;
 	text-align: center;
 	height: 60px;
 	font-size: 45px;
}

.selectors{
	position: fixed;
	bottom: 0px;
	width: 102%;
}

button#submit {
    margin-top: 10px;
}

.container.profile.content{
	margin-bottom: 90px;
}